.wrapper{
    border-radius:15px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    margin: 30px 10px auto;
    position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 480px;
    padding: 60px 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background :#eff0f2e5;
    }
  
   .img{
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.8;
    }
    
    .right{
        width: 300px;
        height: 250px;
        float:left;
    
    }
    mat-form-field {
      width: 100%;
    }
    
    .regbtn{
      height: 35px;
      width: 130px;
      font-size: 16px;
      cursor: pointer;
      /* border-radius: 10px; */
      text-align: center;
      
    }

    .action{
      padding-top: 30px;
      position: absolute;
      top: 70%;
      left: 57%;
    }

    .log{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      font-style: italic;
    }
      @media screen and (max-width: 770px) {
        .wrapper{
          border-radius:15px;
          -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
          -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
          box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
          margin: 30px 10px auto;
          position: absolute;
          top: 45%;
          left: 50%;
          transform: translate(-50%,-50%);
          width: 350px;
          height: 480px;
          padding: 60px 20px;
          padding-bottom: 10px;
          box-sizing: border-box;
          background :#eff0f2e5;
          }
        
        svg#rocket-smoke {
          display: none;
          visibility: hidden;
        }
        .img{
            display: none;
            visibility: hidden;
        }
      }
    